.documentChatContainer {
  padding: 12px;
  margin: 12px;
  min-height: 80vh;
}
.chatBoxContainer {
  border: 2px solid lightgray;
  border-radius: 12px;
  min-height: 400px;
  margin-top: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.bubbleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  font-family: roboto !important;
}

.chatBoxChatContainer {
  max-height: 400px;
  overflow: scroll;
}

.chatBoxQuestion {
  height: 100%;
  margin: 12px;
  width: 100%;
  background-color: lightgray;
  padding: 20px;
  border-radius: 12px;
  text-align: right;
}

.chatBoxAnswer {
  height: 100%;
  width: 100%;
  margin: 12px;
  background-color: lightblue;
  padding: 20px;
  border-radius: 12px;
}

.chatBoxLoading {
  height: 100%;
  margin: 12px;
  background-color: lightBlue;
  padding: 20px;
  border-radius: 12px;
}

.chatBoxError {
  height: 100%;
  margin: 12px;
  width: 100%;
  background-color: #ffa1a1;
  border: 1px solid rgb(255, 118, 118);
  padding: 20px;
  border-radius: 12px;
}

.chatBoxPreTag {
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  font-family: roboto;
}
